<% include ../common/head.ejs %>

<main class="container">
    <h1>Admin</h1>

    <p>Welcome <%= request.user.first_name; %></p>
    <a href="/logout">Logout</a>

    <a href="/api/v1/submission/report" target="_blank" class="btn btn-primary">Generate Report</a>

    <div id="AdminTable" class="table-area" ng-controller="adminCtrl" ng-class="{loading:loading}">



        <table class="table">
            <thead>
            <tr>
                <th class="td-small">Accept</th>
                <th>Submitted Date</th>
                <th>Sale Date</th>
                <th>Type</th>
                <th>Customer Name</th>
                <th>Manager</th>
            </tr>
            </thead>

            <tbody ng-repeat="item in submissions" class="table-item" ng-class="{pending:item.pending, accepted:item.accepted, 'not-accepted':!item.accepted && !item.pending}">
                <tr ng-click="toggleItem(item)" class="table-item-data">
                    <td class="td-small">
                        <div class="custom-controls">
                            <input type="radio" id="rb1{{item.id}}" name="rb{{item.id}}" ng-value="false" ng-model="item.accepted" ng-change="itemAccept(item)">
                            <label for="rb1{{item.id}}" class="radio-null"><i class="mico accept" title="Deny">thumb_down</i></label>

                            <input type="radio" id="rb2{{item.id}}" name="rb{{item.id}}" ng-value="true" ng-model="item.accepted" ng-change="itemAccept(item)">
                            <label for="rb2{{item.id}}" class="radio-true"><i class="mico accept" title="Approve">thumb_up</i></label>
                            <i class="mico new-flag" title="New! Pending Approval">star</i>
                        </div>
                    </td>
                    <td>{{item.created_at}}</td>
                    <td>{{item.sale_date}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.customer_name}}</td>
                    <td>{{item.manager_id._title}}</td>
                </tr>
                <tr ng-show="item.open">
                    <td colspan="6">
                        <p>{{item.details}}</p>
                        <p>{{item.sales_assoc_id._title}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-message" ng-show="!submissions.length && !loading">
            <div class="alert alert-info">
                <p>No submissions yet...</p>
            </div>
        </div>
        <i class="mico loader">cached</i>
    </div>

</main>


<% include ../common/footer.ejs %>