<% include ../common/head.ejs %>

<% include _header.ejs %>


<main class="container">

    <div id="AdminTable" class="table-area" ng-controller="adminCtrl" ng-class="{loading:loading}">

        <div id="AdminTableActions" class="action-row">

            <div class="date-input">
                <small>Start date</small>
                <input type="datetime" class="form-control" date-time
                       date-change="changeSearch"
                       ng-model="dates.start"
                       format="YYYY-MM-DD"
                       view="date"
                       min-view="date"
                />
            </div>

            <div class="date-input">
                <small>End date</small>
                <input type="datetime" class="form-control" date-time
                       date-change="changeSearch"
                       ng-model="dates.end"
                       format="YYYY-MM-DD"
                       view="date"
                       min-view="date"
                />
            </div>

            <a id="GenerateReportButton" href="{{reportUrl()}}" target="_blank" class="btn btn-primary">Generate Report</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th ng-class="{sorting:sortingBy('accepted')}" class="td-small"><a href="#" ng-click="sortBy('accepted')">Accept</a></th>
                <th ng-class="{sorting:sortingBy('created_at')}"><a href="#" ng-click="sortBy('created_at')">Submitted Date</a></th>
                <th ng-class="{sorting:sortingBy('sale_date')}"><a href="#" ng-click="sortBy('sale_date')">Sale Date</a></th>
                <th ng-class="{sorting:sortingBy('type')}"><a href="#" ng-click="sortBy('type')">Type</a></th>
                <th ng-class="{sorting:sortingBy('customer_name')}"><a href="#" ng-click="sortBy('customer_name')">Customer Name</a></th>
                <th ng-class="{sorting:sortingBy('manager_id')}"><a href="#" ng-click="sortBy('manager_id')">Manager</a></th>
                <th></th>
            </tr>
            </thead>

            <tbody ng-repeat="(i,item) in submissions" class="table-item" ng-class="{pending:item.pending, accepted:item.accepted, 'not-accepted':!item.accepted && !item.pending, open:item.open}">
                <tr class="table-item-data">
                    <td class="td-small">
                        <div class="custom-controls">
                            <input type="radio" id="rb1{{item.id}}" name="rb{{item.id}}" ng-value="false" ng-model="item.accepted" ng-change="itemAccept(item)">
                            <label for="rb1{{item.id}}" class="radio-null"><i class="mico accept" title="Deny">thumb_down</i></label>

                            <input type="radio" id="rb2{{item.id}}" name="rb{{item.id}}" ng-value="true" ng-model="item.accepted" ng-change="itemAccept(item)">
                            <label for="rb2{{item.id}}" class="radio-true"><i class="mico accept" title="Approve">thumb_up</i></label>
                            <i class="mico new-flag" title="New! Pending Approval">star</i>
                        </div>
                    </td>
                    <td>{{item.created_at | date}}</td>
                    <td>{{item.sale_date | date}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.customer_name}}</td>
                    <td>{{item.manager_id._title}}</td>
                    <td class="td-empty"><a href="javascript:;" class="mico" title="Details" ng-click="toggleItem(item)">menu</a></td>
                </tr>
                <tr class="table-item-details" ng-show="item.open">
                    <td colspan="7">
                        <div class="col-md-6">
                            <h4>Business Priority</h4>
                            <p>{{item.business_priority}}</p>

                            <h4>Specific Relevant Value</h4>
                            <p>{{item.details}}</p>
                        </div>
                        <div class="col-md-6">
                            <h4>Team</h4>
                            <ul class="team-list">
                                <li><strong>Manager</strong><span>{{item.manager_id._title}}</span></li>
                                <li><strong>Sales Prime</strong><span>{{item.sales_assoc_id._title}}</span></li>
                                <li ng-show="item.support_assocs.length"><strong>Support Reps</strong><span>{{item.support_assocs.join(", ")}}</span></li>
                            </ul>
                            <button class="btn btn-danger" ng-click="itemDelete(item,i)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-message" ng-show="!submissions.length && !loading">
            <div class="alert alert-info">
                <p>No submissions met your criteria :|</p>
            </div>
        </div>
        <i class="lnr-sync loader"></i>
    </div>

</main>

<bstar-modal></bstar-modal>
</body>
</html>