.btn.has-loader {
	position:relative;
	transition:all 300ms;
	.mico {
		visibility: hidden; opacity:0;
		position:absolute; left:5px;
		font-size:14px;
		animation: loading linear 1000ms infinite;
	}
	&.loading {
		padding-left:30px;
		.mico {visibility: visible; opacity:1;}
	}
}

@keyframes loading {
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}


.table-area {
	position:relative;
	border:1px solid #efefef; min-height:300px;
	table {transition:all 300ms; opacity:1;}
	&.loading {
		table {opacity:0.5;}
		.loader {display:block;}
	}
}
td.td-small, th.td-small {width:50px;}

.table-message {
	position:absolute; top:50px; left:50px; right:50px;
}
.mico.loader {
	animation: loading linear 1000ms infinite;
	position:absolute; top:100px; left:calc(50% - 25px);
	font-size:50px;
	display:none;
}

.mico.link {
	color:blue;
	cursor:pointer;
}

.custom-controls {
	input {display:none;}
	label {display:inline-block; cursor:pointer; color:gray;}
	i.mico {font-size:20px;}
	input:checked+label {color:black;}
}

.table-item {
	&.pending {
		td {background: #ffe6c9;}
	}
	&.accepted {
		.custom-controls input:checked+label {color:green;}
	}
	&.not-accepted {
		.custom-controls input:checked+label {color:red;}
	}
}