<form action="/submit" method="POST" name="submissionForm" ng-controller="submissionCtrl" ng-submit="submit($event)" ng-class="{processing:processing}">

    <div class="row">
        <div class="col-md-6">
            <!-- Section 1 -->
            <section id="SalesDetails" class="form-section">

                <h2><i class="lnr-receipt section-icon"></i>Sale Details</h2>

                <div class="form-group" ng-class="{filled:isFilled('sale_date')}">
                    <div class="input-group">
                        <input type="datetime" tabindex="1" id="SaleDate" name="sale_date" class="form-control"
                               ng-model="input.sale_date"
                               format="YYYY-MM-DD"
                               max-date="maxSaleDate"
                               date-time view="date"
                               min-view="date"/>
                        <label for="SaleDate">Date of Sale <i class="lnr-question-circle" modal-open="sale_date"></i></label>
                        <a href="javascript:;" tabindex="-1" class="lnr-calendar-full action" ng-click="focusOn('SaleDate')"></a>
                    </div>
                </div>

                <div class="form-group" ng-class="{filled:isFilled('type')}">
                    <select name="type"
                            id="SaleType"
                            required
                            tabindex="1"
                            class="form-control"
                            ng-model="input.type"
                            ng-change="changeType()"
                            ng-options="type.value as type.text for type in types">
                    </select>
                    <label for="SaleType">Type of Sale</label>
                </div>

            </section>

            <!-- Section 2 -->
            <section id="CustomerDetails" class="form-section">

                <h2><i class="lnr-license2 section-icon"></i>Customer Information</h2>

                <div class="form-group" ng-class="{filled:isFilled('customer_name')}">
                    <input id="CustomerName" tabindex="1" type="text" name="customer_name" ng-model="input.customer_name" class="form-control" required>
                    <label for="CustomerName">Customer Name <i class="lnr-question-circle" modal-open="customer_name"></i></label>
                </div>

                <div class="form-group" ng-class="{filled:isFilled('business_priority')}">
                    <textarea name="business_priority" tabindex="1" id="BusinessPriority" rows="2" class="form-control" ng-model="input.business_priority" required></textarea>
                    <label for="BusinessPriority">Business Priority <i class="lnr-question-circle" modal-open="business_priority"></i></label>
                </div>

                <div class="form-group" ng-class="{filled:isFilled('details')}">
                    <textarea name="details" tabindex="1" id="Details" rows="2" class="form-control" ng-model="input.details" required></textarea>
                    <label for="Details">Specific Relevant Value <i class="lnr-question-circle" modal-open="details"></i></label>
                </div>

            </section>
        </div>

        <div class="col-md-6">
            <!-- Section 3 -->
            <section id="StaffDetails" class="form-section">

                <h2><i class="lnr-users2 section-icon"></i>Manager & Staff Information</h2>

                <div class="form-group" ng-class="{filled:isFilled('manager_id')}">
                    <select name="manager_id"
                            id="ManagerId"
                            class="form-control"
                            required
                            tabindex="1"
                            ng-model="input.manager_id"
                            ng-disabled="!input.type"
                            ng-options="person.id as person.get('_title') for person in people.segment(input.type)"
                    ></select>
                    <label for="ManagerId">Manager Name <i class="lnr-question-circle" modal-open="manager_id"></i></label>
                </div>

                <div class="form-group" ng-class="{filled:isFilled('sales_assoc_id')}">
                    <select name="sales_assoc_id"
                            id="SalesAssocId"
                            class="form-control"
                            required
                            tabindex="1"
                            ng-model="input.sales_assoc_id"
                            ng-options="person.id as person.get('_title') for person in people.segment(input.type, input.manager_id)"
                            ng-disabled="!input.manager_id">
                    </select>
                    <label for="SalesAssocId">Sales Prime Name <i class="lnr-question-circle" modal-open="sales_assoc_id"></i></label>
                </div>


                <div id="SalesRepInputContainer" class="form-group">
                    <p>You may enter up to {{allowed[input.type]}} support representatives names below (optional).</p>
                    <div id="SalesRepInputGroup">
                        <input type="text" tabindex="7" ng-keydown="salesRepEnter($event)" ng-model="salesRepName" placeholder="Support Rep Name" class="form-control" ng-disabled="input.support_assocs.length >= allowed[input.type]">
                        <a href="javascript:;" ng-click="addSalesRep()" class="lnr-plus-circle add-rep link"></a>
                    </div>

                    <ul id="SupportRepList">
                        <li ng-repeat="(i,name) in input.support_assocs track by $index"><a href="javascript:;" class="lnr-circle-minus remove-rep link" ng-click="removeSalesRep(i)"></a><strong>{{name}}</strong></li>
                    </ul>
                </div>

                <p><strong>Please note:</strong> The supporting Customer Profile, Pre-call Plan and Solution Needs Template must all be attached in Insight to be eligible to win.</p>
            </section>
        </div>
    </div>











    <input type="hidden" value="<%= request.csrfToken(); %>" name="_csrf">

    <div id="SubmitFixedFooter" ng-show="formComplete()">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>

</form>


<!-- Modal text -->
<ul class="modal-keys">
    <li data-key="sale_date" data-title="Date of Sale">
        <p>This is the date the sale was moved to stage 3 within Insight.</p>
    </li>
    <li data-key="customer_name" data-title="Customer Name">
        <p>This is the business name as it appears in Insight.</p>
    </li>
    <li data-key="business_priority" data-title="Business Priority">
        <p>You can leverage this from your completed Executive Summary document.</p>
    </li>
    <li data-key="details" data-title="Specific Relevant Value">
        <p>This is the specific value that the sale/solution provides that addresses the customer's business priority. You can leverage this from your completed Executive Summary document.</p>
    </li>
    <li data-key="manager_id" data-title="Manager">
        <p>Select the manager to whom the Sales Prime reports.</p>
    </li>
    <li data-key="sales_assoc_id" data-title="Sales Prime">
        <p>Select the account rep or sales rep that completed the sale.</p>
    </li>

    <li data-key="submitted" data-title="Thank you!">
        <p>Thank you for your entry. Winners will be drawn at the end of every month. The more sales you enter, the more chances you have to win! Good luck!</p>
    </li>
</ul>