<% include common/head.ejs %>

<header id="Header">
    <img src="/images/sasktel-logo.svg" alt="Sasktel Logo" class="logo">
</header>

<main id="Body" class="container">
    <header class="body-header">
        <i class="lnr-bullhorn eye-catcher"></i>

        <h1>V.I.P. Sweepstakes - Win a $500 VISA Gift Card</h1>

    </header>

    <div class="body-message">
        <p>
            Thank you for participating in the <b>V</b>ery <b>I</b>mportant <b>P</b>riority (V.I.P) Sweepstakes!
            As you know, understanding customer’s priorities and creating specific relevant value that addresses these priorities are key elements of Solution Sales.
        </p>
        <p>Demonstrate that your sales follow this and you could win a $500 VISA gift card!</p>
    </div>
    <% include _form.ejs %>

</main>


<% include common/footer.ejs %>