<% include common/head.ejs %>

<header id="Header">
    <img src="/images/sasktel-logo.svg" alt="Sasktel Logo" class="logo">
</header>

<main id="Body" class="container">
    <i class="lnr-bullhorn eye-catcher"></i>

    <h1>Win a $500 Visa Gift Card!</h1>

    <div class="body-message">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, illum, nihil. Aliquam atque aut eos est fugiat molestiae nisi ratione!</p>
    </div>


    <% include _form.ejs %>

</main>


<% include common/footer.ejs %>