<% include common/head.ejs %>

<main class="container">
    <form action="/login" id="LoginForm" name="loginForm" method="POST" class="form-horizontal" ng-submit="submit($event)" ng-controller="loginCtrl" novalidate>

        <div class="alert alert-danger" ng-show="error">
            <p>{{error}}</p>
        </div>
        <div class="form-group">
            <label for="UsernameInput" class="col-sm-4 control-label">Username</label>
            <div class="col-sm-8">
                <input type="text" ng-model="guest.username" name="username" id="UsernameInput" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="PasswordInput" class="col-sm-4 control-label">Password</label>
            <div class="col-sm-8">
                <input type="password" ng-model="guest.password" name="password" id="PasswordInput" class="form-control">
            </div>
        </div>

        <div class="form-group text-right">
            <button class="btn btn-primary" type="submit" ng-disabled="submitting">Submit</button>
            <div class="alert alert-info" ng-show="submitting">
                <p>Making it happen, captain...</p>
            </div>
        </div>


    </form>
</main>

<% include common/footer.ejs %>