<% include common/head.ejs %>

<main class="container">

    <h1>Thanks!</h1>

    <div class="alert alert-success">
        <p>Your information has been submitted.</p>
    </div>

    <a href="/" class="btn btn-default">Go Back</a>

</main>


<% include common/footer.ejs %>