<!-- common/footer.ejs -->
<bstar-modal></bstar-modal>

<footer id="Footer">
    <div class="row">
        <div class="col-md-8">
            <p>&copy; <%= new Date().getFullYear(); %> All Rights Reserved. <a href="#">Terms and Conditions</a></p>
            <p>For questions, please contact <a href="mailto:melissa.martin@brightstar.com">melissa.martin@brightstar.com.</a></p>
            <a href="/login" class="btn btn-default">Login</a>
        </div>
        <div class="col-md-4 text-right">
            <img src="/images/logo.png" alt="Brightstar" class="logo">
        </div>
    </div>
</footer>

</body>
</html>