<!DOCTYPE html>
<html>
<head>
    <title>App</title>

    <meta charset="UTF-8"/>

    <%- template.head(); %>

    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/app.css">
    <script src="/lib.js"></script>
    <script src="/src.js"></script>
</head>
<body ng-app="app">
<!-- END common/head.js -->